{
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-var": "off",
        "object-shorthand": "off",
        "no-else-return": "off",
        "no-bitwise": "off",
        "array-callback-return": "off",
        "no-prototype-builtins": "off"
    },
    "globals": {
        "require": true,
        "window": true,
        "document": true,
        "module": true
    }
}